{ 
	padding: 0;
	margin: 0;
}

body{
	font-family: "chaketmedium",helvetica,verdana;
	background:#8bb0ba;
	color:#212121;
	font-size:2em;
	margin: 0.5em auto;
 	max-width: 960px;
 	padding: 0.25em;
 	text-align: justify;
}
h1{
    color: #212121;
    margin: 0.25em auto;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(255,255,255,0.5); 
 }
header,nav,footer{
 	background: #1E6381; 
 	border-radius: 0.2em;
 	margin: 0.5em auto;
 	max-width: 960px;
 	padding: 0.25em;
 	text-align: center;
 	list-style: none;

}
section#contenedor{
	overflow: hidden;
	margin: 0.5em auto;
	max-width: 960px;
	padding: 0;
	text-align: center;
	background: #ffffff;
	text-align: center;
}
section#principal{
	background: #1E6381;
	border-radius: 0.5em;
	display: inline-block;
	margin: 0.2em auto;
	max-width: 960;
	min-height: 200px;
	vertical-align: top;
	width: 65%	
}
article{
	background: #011E30;
	border-radius: 0.5em;
	min-height: 140px;
	padding: 0.25px
}
aside{
	float: right;
	padding: 2px;
	color: #212121;
	width: 250px;
	margin: 50px;
	background:#ffffff;
	font-size: 25px;
	height: 600px;
}
div#right{
	float: left;
	padding: 20px;
	color: #212121;
	width: 300px;
	margin: 5px;
	background: #ffffff;
	font-size: 25px;
}
div#left{
	float: left;
	padding: 2px;
	color: #212121;
	width: 250px;
	margin: 5px;
	background:#ffffff;
	font-size: 25px;
	height: 600px;
	overflow-y: scroll;
}
div#center{
	float: left;
	padding: 2px;
	color: #212121;
	width: 300px;
	height: 300px;
	margin: 1px;
	background: #ffffff;
	font-size: 25px;
}
.slider{
	width: 100%;
	margin: auto;
	overflow: hidden;
	height: 300px;
}
.slider ul{
	display: flex;
	padding: 0;
	width: 200%;

	animation: cambio 20s infinite alternate linear;
}
.slider li{
	width: 100%;
	list-style: none;
}
.slider img{
	width: 960px;
	height: 300px;
}
@keyframes cambio{
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
